header {
    height: 220px;
    width: 1400px;
    margin: auto;
    background-color: #dcdcdc;
    position: relative;
}

.logo-margin {
    margin-left: 210px;
    margin-top: 65px;
    position: absolute;
}

.feedback {
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(118, 118, 118);
    text-align: right;
    right: 200px;
    line-height: 1.15;
    margin-right: 210px;
    padding-top: 24px;
}

.lineheader {
    border-bottom: 3px dashed;
}

.navigation_block{
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(119, 119, 119);
}

.nav_link_item{
  margin-right: 20px;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);

}

aside{
  float: left;
}

.page_body{
  float: right;
}

